body {   
/* Местоположение фоновой картинки */   background-image: url(gackground2.jpg);      
/* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */   background-position: right center;      
/* Фон не повторяется */   background-repeat: no-repeat;      
/* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */   background-attachment: fixed;      
/* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/   background-size: cover;      
/* Цвет фона, который будет отображаться при загрузке фоновой картинки*/   background-color: #464646; }

.menu {
	display: flex;
}

.button {
	display: flex;
	border: 3px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.button a {
	display: block; /* Ссылка как блочный элемент */
	height: 100%; /* Высота на весь слой */
	width: 100%;
}

a {
	text-decoration: none;
}
.button:hover{
	display: flex;
	border: 3px;
	background-color: #d8e6e6;
	border-radius: 5px;
}

img {
	margin: auto;
	margin-left: 15px;
}

p {
	font-size: 120%;
	margin: 15px 15px 15px 5px;
	color: black;
}








.transparent {
    filter: alpha(Opacity=50); /* Полупрозрачность для IE */
    opacity: 0.50; /* Полупрозрачность для других браузеров */ 
   }

.text {
	margin-left: 1.5%;
	margin-right: 5%;
	background: #ffffff;
	padding: 0px 0px 0px 25px;
	width:100%;
	opacity: 0.5;
	}