body {   
	background-image: url(gackground4.jpg);
	background-repeat: no-repeat;
	background-position: center;      
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646; 
	margin: 0;
}

.parent {
	display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50vw;
	height: auto;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10%;
	border: 1px solid #fff;
}


.button {
	display: flex;
	border: 3px;
	background-color: #FFFFFF;
	border-radius: 0.5vh;
	margin-top: 1.5vh;
	margin-left: 1.5vh;
}

.button:hover {
	display: flex;
	border: 3px;
	background-color: #d8e6e6;
	border-radius: 0.5vh;
}

a {
	display: flex;
	margin: auto;
	text-decoration: none;
}

img {
	width: auto;
    height: 2vh;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
	margin-left: 2vh;
	margin-right: 0.5vh;
}

p {
	font-size: 2.2vh;
	margin: auto;
	margin-right: 2vh;
	color: black;
}






.transparent {
    filter: alpha(Opacity=50); /* Полупрозрачность для IE */
    opacity: 0.50; /* Полупрозрачность для других браузеров */ 
   }

.text {
	margin-left: 1.5%;
	margin-right: 5%;
	background: #ffffff;
	padding: 0px 0px 0px 25px;
	width:100%;
	opacity: 0.5;
	}